@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(45deg, #ff8c00, #ff00cc, #ff0099, #cc00ff, #00ffcc, #00ccff); 
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite; 
    font-family: 'Exo 2', sans-serif;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    text-align: center;
    font-size: 50px;
    color: orange !important;
    margin-bottom: 20px;
}

li {
    color: orange;
    font-size: 20px;
    margin-top: -20px
}

p {
    color: white;
    font-size: 20px;
    margin-top: -20px
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cell {
    width: 60px;
    height: 60px;
    border: 2px solid orange;
    border-radius: 10px;
    overflow: hidden;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

dialog {
    background: rgba(0, 0, 0, 0.8); 
    color: orange;
    padding: 20px;
    position: relative;
    height: 365px;
    border-radius: 10px;
    width: 600px;
}

.dialog-p {
    margin-top: 20px;
    text-align: center;
}

.dialog-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

button {
    padding: 7px 25px;
    font-size: 18px;
    color: black;
    background: orange;
    border: 2px solid orange;
    border-radius: 10px;
    margin: 10px auto;
    transition: all ease 0.3s;
}

button:hover {
    background: transparent;
    color: orange;
    cursor: pointer;
}
